h1{
    font-size:50px;
    color:rgb(255,20,30);
    background-color:rgb(0,500,250);
    )
  }
  li{
    font-size:20px;
    color:rgb(0,500,250);
    background-color:rgb(255,2,30);
  }
  table{
    font-size:40px;
    color:rgb(250,0,20,);
      background-color:rgb(0,250,30);
  }
   h1 {
      animation: bounceIn 5s;
      
    }
  
  @keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    75%{
      transform: scale(8.0)
        opacity:75;
      font-family: "Comic Sans";
    }
    
    100% {
      transform: scale(1);
    }
   
  }
  